:root {
  --curios-gold: #FFD700;
  --action-orange: #BD5532;
}

body {
  font-family: system-ui, sans-serif;
  background-color: #282c34;
  color: white;
}

.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.game-board-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.game-layout {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  align-content: stretch;
}

.game-sidebar {
  display: flex;
  align-items: stretch;
  height: 100vh;
}